<style>
    .pps-container {
        font-family: sans-serif;
        font-size: 12px;
        color: #000;
    }
    .header-box {
        border: 1px solid #000;
        padding: 10px;
        margin-bottom: 20px;
    }
    .item-box {
        border: 1px solid #000;
        height: 350px;
        padding: 5px;
        margin-bottom: 5px;
        position: relative;
    }
    .item-image-container {
        height: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }
    .item-image-container img {
        max-width: 100%;
        max-height: 100%;
    }
    .manual-swatch {
        font-size: 18px;
        font-weight: normal;
        text-transform: uppercase;
    }
</style>

<div class="pps-container">
    <div class="header-box">
        <div class="row">
            <div class="col-xs-4">
                <strong>Style No:</strong> {{ doc.tech_pack_no or '' }}
            </div>
            <div class="col-xs-4 text-center">
                <strong>Category:</strong> {{ doc.category or '' }}
            </div>
            <div class="col-xs-4 text-right">
                <strong>Workstations:</strong> {{ doc.workstations or '' }}
            </div>
        </div>
        <div class="row" style="margin-top: 5px;">
            <div class="col-xs-6">
                <strong>Designer Name:</strong> {{ doc.pattern_master or '' }}
            </div>
            <div class="col-xs-6 text-center">
                <strong>Sewing Finish:</strong> {{ doc.sewing_finish or '' }}
            </div>
        </div>
    </div>

    <div class="row">
        {% set all_items = (doc.fabrics or []) + (doc.trim_accessories or []) + (doc.fabric_dupatta or []) %}
        {% for item in all_items %}
            {% set item_image = frappe.db.get_value("Item", item.item_code, "image") %}
            <div class="col-xs-4" style="padding-left: 2px; padding-right: 2px;">
                <div class="item-box">
                    <div><strong>Item Code:</strong> {{ item.item_code }}</div>
                    <div><strong>Quantity:</strong> {{ item.quantity }} {{ item.default_unit_of_measurement }}</div>
                    <div><strong>Item Name:</strong> {{ item.item_name }}</div>
                    <div><strong>Item Group:</strong> {{ item.item_group }}</div>
                    
                    <div class="item-image-container">
                        {% if item_image %}
                            <img src="{{ item_image }}">
                        {% else %}
                            <div class="manual-swatch">MANUAL SWATCH</div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if loop.index % 3 == 0 %}
                <div class="clearfix"></div>
            {% endif %}
        {% endfor %}
    </div>
</div>
